.personal-art{
    background-color: #fff098;
    box-shadow: inset 0px 0px 121px 30px rgba(255,200,14,1);
    margin: 8px -8px -8px -8px;
    height: 800px;
}

.school-art{
    background-color: rgba(138, 169, 230, 70%);
    box-shadow: inset 0px 0px 121px 30px #4064ac;
    margin: 8px -8px -8px -8px;
    height: 800px;
}

.insta-blurb{
    background-color: #fff098;
    box-shadow: inset 0px 0px 121px 30px rgba(255,200,14,1);
    margin: 8px -8px -8px -8px;
    height: 800px;
}