.header{
    height: 150px;
    background-color: #4064ac;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -8px;
    box-shadow: inset 0px -46px 72px -26px rgba(0, 0, 0, 0.53);
    color: #ebebeb;
    border-bottom: 12px solid #8aa9e6 ;
}


.left-column {
    display: flex;
    justify-content: center;
    background-color: #fff098;
    margin: 20px 0px 100px 20px;
}

.left-column> .location{
    font-size: 2em;
    font-family: 'Merienda', sans-serif;
    text-transform: uppercase;
    color: #3f3f3f;
}

.center-column{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.header > .center-column > .banner-img img{
    display: flex;
    align-items: flex-end;
}

.header > .center-column > .banner-img img{
    height: 100px;
    width: auto;
    transform: scaleY(-1);
    filter: invert(100%) sepia(13%) saturate(470%) hue-rotate(338deg) brightness(140%) contrast(100%);
}


/*  */
/*  */
.header > .center-column > .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header > .center-column > .nav-bar > .nav-link{
    width: 150px;
    text-align: center;
}

.header > .center-column > .nav-bar > .nav-link a{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    color: #ebebeb;
    text-decoration: none;
    transition: 0.5s;
}

.header > .center-column > .nav-bar > .nav-link > a:hover{
    color: #fff098;
    letter-spacing: 2px;
    font-size: 1.5em;
}
/*  */
/*  */


.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    transition: 0.5s;
}

.contact > img{
    height: auto;
    width: 70px;
    border-radius: 20px;
}
