h1{
    font-family: 'Merienda', sans-serif;
}

p{
    font-family: 'Quicksand';
    font-size: 1.5em;
    line-height: 150%;
}

.intro-section{
    display: grid;
    background-image: url(../images/bg_parallax.jpg);
    padding: 50px;
    height:400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1.2fr 2fr;
    /* opacity: 50%; */
    margin: -8px;
}

.intro-section > .logo{
    display: flex;
    justify-content: center;
}

.intro-section > .logo img{
    height : 400px;
    padding-right: 40px;
    filter:sepia(4%) saturate(7%) hue-rotate(304deg) brightness(200%) contrast(85%);
}

.intro-section :nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: rgba(63, 63, 63, 70%); */
    background-color: rgba(138, 169, 230, 70%);
    border-radius: 10px;
    padding: 15px;
}

.intro-section :nth-child(2) :nth-child(1){
    border-radius: 10px;
    /* color: #8aa9e6;
    color: #e6e6e6;
    color: #3f3f3f; */
    color: #fff098;
    /* width: 350px; */
    font-size: 4em;
    margin-top: -10px;
    /* margin-bottom: 50px; */
}

.intro-section :nth-child(2) :nth-child(2){
    margin-top: -20px;
    margin-bottom: -20px;
    color: #3f3f3f;
    /* color: #4064af; */
    background-color: rgba(230, 230, 230, 50%);

}