.classes-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg_parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(255, 240, 160,1); */
    margin: 8px -8px -8px -8px;
}

.class-content{
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    grid-gap: 20px;
}

li{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
}

.class-content:nth-child(2){
    padding-top: -200px;
}

.review p{
    font-size: 1.2em;
    line-height: 1.8em;
}

.clubs-section, .cts{
    border-top: solid 3px #3f3f3f;
}

.clubs-section{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    grid-gap: 20px;
}

.club-preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: row;
}

.club-preview > .column > #card h2{
    font-size: 1.4em;
}

.club-preview > .column > #card p{
    font-size: 1em;
}